.column {
    float: left; /* This is forces the page content to adjust to changes in height of the columns */
    margin: 0; /* This and padding need to be zero */
    padding: 0;
    z-index: 1;
    white-space: nowrap;
    width: 200px;
}

.splitpane-divider {
    background-color: #ff0000;
}