body {
    font: 9pt Geneva, sans-serif;
}

.oobRoot {
    margin-left: 0px;
    padding-left: 0px;
}

.oobRoot ul {
    margin-left: 10px;
    padding-left: 10px;
}

.oobRoot li {
    list-style-type: none;
}

.oobRoot ul li {
    list-style-image: url(../Images/child.png);
}

.oobRoot ul ul li {
    list-style-image: url(../Images/child.png);
}

.column .title {
    font-weight: bold;
}

#csaCadre {
    min-height: 100px;
    background-color: #ccc;
    border: 1px solid #333;
    padding: 1em;
}

#csaCadre ul {
    list-style-type: none;
    left: 1em;
}

#csaWest {
    background-color: #ffe;
    border: 1px solid #333;
    padding: 1em;
    min-height: 100px;
}

#csaEast {
    background-color: #ffe;
    border: 1px solid #333;
    padding: 1em;
    min-height: 100px;
}

#csaHand {
    background-color: #ffe;
    border: 1px solid #333;
    padding: 1em;
    min-height: 100px;
}

#usaCadre {
    min-height: 100px;
    background-color: #ccc;
    border: 1px solid #333;
    padding: 1em;
}

#usaCadre ul {
    list-style-type: none;
    left: 1em;
}

#usaWest {
    background-color: #ddf;
    border: 1px solid #333;
    padding: 1em;
    min-height: 100px;
}

#usaEast {
    background-color: #ddf;
    border: 1px solid #333;
    padding: 1em;
    min-height: 100px;
}

#usaHand {
    background-color: #ddf;
    border: 1px solid #333;
    padding: 1em;
    min-height: 100px;
}

.okToDrop {
    background-color: #fcc !important;
    border: 1px solid #f00 !important;
}

li {
    cursor: pointer;

    /* without these lines, flipped corps under a flipped leader is opacity^2 */
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);  /* MS IE */
    filter: alpha(opacity=100);
}

div.tooltip {
    background-color: #fff;
    border: 1px solid #333;
    padding: 0.25em;
}

.depleted {
    color: #a22;
}

.flipped {
    opacity: .3;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);  /* MS IE */
    filter: alpha(opacity=30);
}